linkedin/workflows/automate-linkedin-posts-with-ai.json
{
  "name": "Automate LinkedIn Posts with AI",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [580, 540],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "sticky-note-1",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [300, 200],
      "parameters": {
        "color": 6,
        "width": 500,
        "height": 300,
        "content": "## How to Set Up\n\n1. Create a **Notion database** with columns: Name, Status, Date, Content\n2. Add your **Notion API credentials**\n3. Add your **OpenAI API credentials**\n4. Add your **LinkedIn OAuth2 credentials**\n5. Set the Notion database ID in the 'Query Notion' node\n6. Activate this workflow!\n\nThe workflow runs daily at 3 PM and posts any Notion entries scheduled for today."
      },
      "typeVersion": 1
    },
    {
      "id": "query-notion",
      "name": "Query Notion for Today's Posts",
      "type": "n8n-nodes-base.notion",
      "position": [800, 540],
      "parameters": {
        "filters": {
          "conditions": [
            {
              "key": "Date",
              "date": "={{ $today.format('yyyy-MM-dd') }}",
              "condition": "equals"
            }
          ]
        },
        "options": {},
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_NOTION_DATABASE_ID",
          "cachedResultName": "LinkedIn Posts"
        },
        "filterType": "manual"
      },
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "get-page-content",
      "name": "Get Page Content",
      "type": "n8n-nodes-base.notion",
      "position": [1020, 540],
      "parameters": {
        "blockId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.url }}"
        },
        "resource": "block",
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "aggregate-content",
      "name": "Aggregate Text & Image",
      "type": "n8n-nodes-base.aggregate",
      "position": [1240, 540],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            },
            {
              "fieldToAggregate": "image.file.url"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "format-with-ai",
      "name": "Format Post with OpenAI",
      "type": "n8n-nodes-base.openAi",
      "position": [1480, 540],
      "parameters": {
        "text": "=Please reformat this content for LinkedIn. Add paragraph breaks, bullet points if present, and make it engaging:\n\n{{ $json.content.join(' ') }}",
        "prompt": "define",
        "options": {},
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_OPENAI_ASSISTANT_ID",
          "cachedResultName": "LinkedIn Post Formatter"
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "fetch-image",
      "name": "Fetch Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1480, 700],
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "merge-text-image",
      "name": "Combine Text + Image",
      "type": "n8n-nodes-base.merge",
      "position": [1720, 540],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combinationMode": "mergeByPosition"
      },
      "typeVersion": 2.1
    },
    {
      "id": "post-linkedin",
      "name": "Post on LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "position": [1960, 540],
      "parameters": {
        "text": "={{ $json.output }}",
        "person": "YOUR_LINKEDIN_PERSON_URN",
        "additionalFields": {},
        "shareMediaCategory": "IMAGE"
      },
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "YOUR_LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "mark-done",
      "name": "Mark as Done in Notion",
      "type": "n8n-nodes-base.notion",
      "position": [2200, 540],
      "parameters": {
        "pageId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $('Query Notion for Today's Posts').item.json.url }}"
        },
        "options": {},
        "resource": "databasePage",
        "operation": "update",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status",
              "statusValue": "Done"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      },
      "typeVersion": 2.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "UTC"
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query Notion for Today's Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Notion for Today's Posts": {
      "main": [
        [
          {
            "node": "Get Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Content": {
      "main": [
        [
          {
            "node": "Aggregate Text & Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Text & Image": {
      "main": [
        [
          {
            "node": "Format Post with OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Post with OpenAI": {
      "main": [
        [
          {
            "node": "Combine Text + Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image": {
      "main": [
        [
          {
            "node": "Combine Text + Image",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Text + Image": {
      "main": [
        [
          {
            "node": "Post on LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on LinkedIn": {
      "main": [
        [
          {
            "node": "Mark as Done in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Automate LinkedIn Posts with AI - Fetches posts from Notion, formats them with OpenAI, and publishes to LinkedIn on schedule."
}
